__pycache__/
*.py[cod]
.env
*.npy
*.pt
*.pth
/data/
wandb/
.vscode/
polaris/
*.egg-info/
dist/
build/
.ipynb_checkpoints/
results/
logs/
*.log
aws/user_data_transfer.sh
aws/user_data_eda.sh
aws/user_data_precompute.sh
.claude